/* global.css */

body {
  margin: 0;
  background-color: #000; 
  color: #fff; 
  font-family: 'Arial', sans-serif;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem;
  background-color: #060606; 
}

/* Center the title container */
.navbar-title-container {
  flex: 1; 
  display: flex; 
  justify-content: center; 
  background-color: rgba(31, 31, 31, 0.8); 
  padding: 5px 15px; 
  border-radius: 5px; 
  max-width: 200px; 
}

.navbar-title {
  color: #ec7a1d; 
  font-size: 2rem; 
  font-weight: bold; 
  font-family: 'Oswald', sans-serif; 
  letter-spacing: 1px; 
}

/* Specific styles for the login button */
.login-button {
  padding: 10px 20px; 
  border: none; 
  border-radius: 4px; 
  background-color: #283199;
  color: #ffffff; 
  font-size: 1rem; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.login-button:hover {
  background-color: #284e99; 
}


/* Content area that takes up the remaining space */
.content {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  padding: 20px;
  min-height: 80vh; 
  overflow: auto; 
}

/* Footer styles */
.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #1f1f1f; 
}

.footer-button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #28a745; /* Green background for footer buttons */
  color: #fff; 
  border: none;
  border-radius: 0.25rem;
}

.footer-button:hover {
  background-color: #0f6969; /* Darker shade on hover */
}
