@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

.room-title {
  font-size: 30px;
  color: #9e28c5;
  text-align: center;
}

.room1-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50%;
  color: #fff; /* White txt */
  font-family: "Pixelify Sans", sans-serif;
}

.room1-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.room1-image img {
  max-width: 80%;
  height: auto;
}

.room1-text {
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
  color: #9e28c5; 
}

