/* Room 5 Styles */
.room-container5 {
    background-color: black;
    color: #94e5e7; 
    text-align: center; 
    padding: 40px;
    display: flex;  
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 50px;
    max-width: 1200px;
    margin: 0 auto; 
    font-family: 'Georgia', serif; 
}

.room-header5 {
    font-size: 2.2rem; 
    margin-bottom: 20px; 
}

.room-image5 {
    margin: 20px auto; 
    max-width: 80%; 
}

.room-image5 img {
    width: 90%; 
    height: auto; 
}

.room-text5 {
    font-size: 1.5rem; 
    line-height: 1.6;
    padding: 20px; 
    border-radius: 8px; 
    width: 100%; 
    max-width: 1200px; 
}