@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

.room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1a1a1a; /* Dark background */
  color: #fff; /* White txt */
  font-family: "Pixelify Sans", sans-serif;
}

.room-image img {
  width: 100%; 
  max-width: 600px; 
  height: auto;
  margin-bottom: 20px;
}

.room-text {
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
  color: #00ff00; /* green txt color */
}

